@import '@fontsource/fira-mono';
@import '@fontsource/poppins';

:root {
	--var-color-grey: #4a4a4a;
	--var-color-red: #ff324a;
	--var-color-white: #ffffff;

	background-color: var(--var-color-grey);
	color: var(--var-color-white);

	font-family: 'Poppins', sans-serif;
}

/* On hover, links should produce a red underline */
a {
	color: var(--var-color-white);
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: var(--var-color-red);
	text-decoration-thickness: 1.5px;
}
